.add-item-panel {
	background: #140F2D;
    width: 15rem;
    border: 1px solid white;
    border-radius: 5px;
    padding: 1rem;
}

.add-item-heading {
    color: white;
    text-align: center;
    margin-top: 0;
}

.add-item-list {
    color: white;
    padding: 0;
}

li.add-item-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    list-style-type: none;
    justify-content: space-between;
    padding: 0 1rem;
    gap: 0.5rem;
    border: 1px solid gray;
}

li.add-item-item > span {
    flex: 1;
}

.add-item-img {
    width: 2rem;
}

.add-item-input-wrapper {
    display: flex;
}

.add-item-input {
    width: 100%;
}
