html, body {
	background: #140F2D;
	height: 100vh;
	margin: 0;
	box-sizing: border-box;
}

#main, #content {
	box-sizing: border-box;
	border: 1px solid white;
}

#main {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	height: 100%;
}

#content {
	display: flex;
	height: 100%;
}
